<each loop="video, index in {{ listVideo }}">
	<section class="article-item article-item--video has-image video-sm">
		<div class="video-sm-header">
			<div class="article-item__info">
				<a href="#" class="article-item__info-item">{{video.tag}}</a>
				<span class="article-item__info-item">{{video.date}}</span>
			</div>
			<button data-card-id="" type="button" class="fav-button video-sm-header__btn"
				title="Добавить в избранное"></button>
		</div>
		<div class="video-sm-body video-sm__body">
			<div class="video-sm-controls">
				<a href="{{video.url}}" class="video-sm-controls__btn">
					<img src="./assets/images/video-sm/play.svg" alt="Кнопка воспроизведения">
        </a>
				<span class="video-sm-controls__time">12:34</span>
			</div>
			<p class="video-sm-body__title">{{ video.title }}</p>
		</div>
	</section>
</each>