<div class="header_mayak">
    <div class="background">
        <img src="assets/images/mayak_vector.svg" class="background_vector_left" alt="">
        <img src="assets/images/mayak_vector_1.svg" class="background_vector" alt="">
        <img src="assets/images/mayak_vector_2.svg" class="background_vector" alt="">
        <img src="assets/images/mayak.svg" class="background_mayak" alt="">
        <img src="assets/images/mayak_bird.svg" class="background_bird" alt="">
    </div>
    <div class="header">
        Маяк. Ваш подводник<br>в океане медицинского права.
    </div>
</div>