<div class="questions">
  <div class="questions__wrapper">
    <div class="container container--wide">
      <h3 class="questions__title">Часто задаваемые вопросы</h3>
      <ul class="questions-list">
        <li class="questions-list__item">
          <a href="./index-search.html" class="questions-list__link">жалобы</a>
        </li>
        <li class="questions-list__item">
          <a href="./index-search.html" class="questions-list__link">Провокации</a>
        </li>
        <li class="questions-list__item">
          <a href="./index-search.html" class="questions-list__link">Вина мед. работников</a>
        </li>
        <li class="questions-list__item">
          <a href="./index-search.html" class="questions-list__link">Права и обязанности мед. работников</a>
        </li>
        <li class="questions-list__item">
          <a href="./index-search.html" class="questions-list__link">Виды препаратов</a>
        </li>
      </ul>
    </div>
  </div>
</div>