<div class="questions">
  <div class="questions__wrapper">
    <div class="container container--wide">
      <h3 class="questions__title">Часто задаваемые вопросы</h3>
      <ul class="questions-list">
        <li class="questions-list__item">жалобы</li>
        <li class="questions-list__item">Провокации</li>
        <li class="questions-list__item">Вина мед. работников</li>
        <li class="questions-list__item">Права и обязанности мед. работников</li>
        <li class="questions-list__item">Виды препаратов</li>
      </ul>
    </div>
  </div>
</div>