<div class="article-item article-item--video has-image search-card">
  <div class="search-card__wrapper">
    <h4 class="search-card__title">Если нужен оригинальный препарат</h4>
    <p class="search-card__desc">
      Проект посвящен юридической безопасности медицинских работников. Вы узнаете, как, прибегнув к коллективной
      ответственности, снизить риски с помощью врачебной комиссии и защитить свою деловую репутацию, рассмотрите нюансы
      ведения медицинской документации и многие другие вопросы.
    </p>
    <div class="searc-card-tags">
      <a href="#" class="search-card-tags__tag">Выписки</a>
      <a href="#" class="search-card-tags__tag">Врачебная комиссия</a>
    </div>
    <div class="search-card__row">
      <div class="search-card__left">
        <span class="search-card__date">Февраль 2019</span>
        <button data-card-id="" type="button" class="search-card__btn">
          <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M2 0H12C13.1 0 14 0.9 14 2V18L7 15L-1.90735e-06 18V2C-1.90735e-06 0.9 0.899999 0 2 0ZM2 15L7 12.82L12 15V2H2V15Z"
              fill="#707075" />
          </svg>
          <span>В избранное</span>
        </button>
      </div>
      <div class="search-card__right">
        <button type="button" class="card-lector-info__btn">
          <span>Смотреть</span>
          <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8 4V12L15 8L8 4ZM20 0H2C0.9 0 0 0.9 0 2V14C0 15.1 0.9 16 2 16H7V18H15V16H20C21.1 16 22 15.1 22 14V2C22 0.9 21.1 0 20 0ZM20 14H2V2H20V14Z"
              fill="black" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>