<div class="column column--narrow is-hidden-small">
    <div class="popup-filter">
        <button
            class="button-text button--filtered popup-filter__button"
            type="button">
            <span class="button__icon"
                ><i class="dsi-sorting"></i
            ></span>
            <span class="button__text">Сортировка</span>
            <span class="button__icon"
                ><i class="dsi-small_arrow_closed"></i
            ></span>
        </button>
        <div class="popup-filter__popup">
            <div class="field">
                <div class="field__control">
                    <div class="field__radio">
                        <input
                            id="chdate"
                            value="/lectures/?sort=date"
                            type="radio"
                            checked=""
                            name="filter-sort"
                            class="js-radio-redirect js-onchange-pers-sort-off" />
                        <label
                            class="field__label"
                            for="chdate"
                            >по дате</label
                        >
                    </div>
                    <div class="field__radio">
                        <input
                            id="chpopular"
                            value="/lectures/?sort=popular"
                            type="radio"
                            name="filter-sort"
                            class="js-radio-redirect js-onchange-pers-sort-off" />
                        <label
                            class="field__label"
                            for="chpopular"
                            >по популярности</label
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>