<!DOCTYPE html>
<!--[if IE 7]><html class="no-js ie7 oldie" lang="ru"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="ru"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ru">
	<!--<![endif]-->
	<head>
		<script>
			window.dataLayer = window.dataLayer || [];
			window.dataLayer.push({
				user_id: 6373,
			});
		</script>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta
			name="csrf-token"
			content="OWliHA0F7BlUdqWbtDb9BJ7p9MZQnD8FJvF1vufO" />
		<title>Доксфера тест</title>
		<meta name="keywords" content="" />
		<meta
			name="description"
			content="Docsfera — это профессиональный медицинский портал для врачей, с большим каталогом медицинской информации. На портале представлены статьи, клинические исследования, видеолекции, калькуляторы, информация по нозологиям." />
		<script>
			window.Laravel = {
				csrfToken: "OWliHA0F7BlUdqWbtDb9BJ7p9MZQnD8FJvF1vufO",
			};
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="https://docsfera.ru/apple-touch-icon.png?v=A052qrmbB6" />
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="https://docsfera.ru/favicon-32x32.png?v=A052qrmbB6" />
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="https://docsfera.ru/favicon-16x16.png?v=A052qrmbB6" />
		<link
			rel="shortcut icon"
			href="https://docsfera.ru/favicon.ico?v=A052qrmbB6" />

		<meta name="msapplication-TileColor" content="#0158bb" />
		<meta name="theme-color" content="#0158bb" />

		<link
			rel="manifest"
			href="https://docsfera.ru/site.webmanifest?v=A052qrmbB6" />
		<link
			rel="mask-icon"
			href="https://docsfera.ru/safari-pinned-tab.svg?v=A052qrmbB6"
			color="#0158bb" />

		<block name="head"></block>
		<meta
			property="og:title"
			content="Docsfera — профессиональный медицинский сайт для врачей" />
		<meta property="og:url" content="docsfera.ru/" />
		<meta
			property="og:image"
			content="docsfera.ru/local/templates/mcmportal/images/logo_msgr_n.png" />
		<meta property="og:site_name" content="Docsfera" />
		<meta
			property="og:description"
			content="Docsfera — медицинский портал с доступом для специалистов здравоохранения" />
	</head>

	<body onclick="return {'page': {}}" class="page js-widget-inited">
		<header class="ds-header header_authorized">
			<!-- MOBILE VIEW -->
			<div class="mobile-container">
				<div class="mobile-top">
					<div class="mobile-menu-button">
						<input
							id="toggle-menu-mobile"
							class="menu-toggle"
							type="checkbox" />
						<label class="menu-btn" for="toggle-menu-mobile"
							><span></span
						></label>
					</div>
					<div class="mobile-logo">
						<a href="/">
							<img
								alt="ds-logo"
								class="ds-logo__img"
								src="/local/templates/mcmportal2/library/assets/media/common/site-logo-mobile.svg" />
						</a>
					</div>

					<div class="field__control mobile-search-icon">
						<span class="field__icon field__icon--left"
							><i class="dsi-search"></i
						></span>
					</div>

					<div class="field__control mobile-user-icon">
						<a href="/personal/#menu"
							><i class="dsi-user"></i
							><span class="field__icon field__icon--left"
								>Профиль</span
							></a
						>
					</div>
				</div>
			</div>
			<!-- DESKTOP VIEW -->
			<div class="desktop-container mobile-hidden">
				<div class="container container--wide white-container">
					<div class="site-logo">
						<a href="/">
							<img
								alt="ds-logo"
								class="ds-logo__img"
								src="/local/templates/mcmportal2/library/assets/media/common/site-logo.svg" />
						</a>
					</div>
					<div class="scroll-menu-button-wrap">
						<div class="scroll-menu-button">
							<input
								id="toggle-menu-scroll"
								class="menu-toggle"
								type="checkbox" />
							<label class="menu-btn" for="toggle-menu-scroll">
								<span></span>
							</label>
							<label class="menu-text" for="toggle-menu-scroll"
								>Меню</label
							>
						</div>
					</div>
					<div class="menu-container">
						<div class="top-container">
							<div
								class="menu-top-wrapper scroll-wrapper--cs-right">
								<button
									type="button"
									class="scroll-button scroll-button--top scroll-button--left"
									data-scroll="top-menu">
									<span
										class="dsi-arrow_dropdown_open-back"></span>
								</button>
								<!-- TOP MENU -->
								<ul
									class="scroll-wrapper menu-top"
									data-scroll="top-menu">
									<li class="menu-top-item">
										<a href="/about/" class="menu-top-link">
											<span>О Доксфере</span>
										</a>
									</li>
									<li class="menu-top-item personal">
										<a
											href="/personal/#menu"
											class="menu-top-link">
											<i class="dsi-user"></i>
											<span>Профиль</span>
										</a>
									</li>
									<li class="menu-top-item">
										<a href="/faq/" class="menu-top-link">
											<i class="dsi-question"></i>
											<span>Помощь</span>
										</a>
									</li>
									<li class="menu-top-item">
										<a
											href="/education/"
											class="menu-top-link">
											<span>Обучение</span>
										</a>
									</li>
									<li class="menu-top-item">
										<a
											href="/favorite/"
											class="menu-top-link">
											<i class="dsi-bookmark_default"></i>
											<span>Избранное</span>
										</a>
									</li>
									<li class="menu-top-item exit">
										<a
											href="/?logout=yes"
											class="menu-top-link">
											<i class="dsi-exit"></i>
											<span>Выход</span>
										</a>
									</li>
								</ul>
								<button
									type="button"
									class="scroll-button scroll-button--top scroll-button--right"
									data-scroll="top-menu">
									<span
										class="dsi-arrow_dropdown_open"></span>
								</button>
								<!-- SANOFI LOGO -->
								<div class="logo">
									<a
										class="ds-logo"
										href="http://sanofi.ru/"
										target="_blank">
										<img
											alt="ds-logo"
											class="ds-logo__img sanofi"
											src="/local/templates/mcmportal2/images/sanofi-logo-2022.svg" />
									</a>
								</div>
							</div>
						</div>
						<div
							class="menu-middle-wrapper scroll-wrapper--cs-right">
							<button
								type="button"
								class="scroll-button scroll-button--middle scroll-button--left"
								data-scroll="middle-menu">
								<span
									class="dsi-arrow_dropdown_open-back"></span>
							</button>
							<!-- MIDDLE MENU -->
							<ul
								class="scroll-wrapper menu-middle"
								data-scroll="middle-menu">
								<li
									class="menu-middle-item menu-middle-item--parent">
									<a class="menu-middle-link"
										><span>Нозологии</span
										><span class="icon"></span
									></a>

									<div class="submenu-accordion" id="6f484">
										<ul class="submenu-accordion__links">
											<li>
												<a
													href="/directions/zodac-main/"
													title="Аллергия"
													>Аллергия</a
												>
											</li>
											<li>
												<a
													href="/directions/ag/"
													title="Артериальная гипертензия"
													>Артериальная гипертензия</a
												>
											</li>
											<li>
												<a
													href="/direction/atopic-dermatitis/main/"
													title="Атопический дерматит"
													>Атопический дерматит</a
												>
											</li>
											<li>
												<a
													href="/direction/psihiatriya/"
													title="Биполярное Аффективное Расстройство (БАР)"
													>Биполярное Аффективное
													Расстройство (БАР)</a
												>
											</li>
											<li>
												<a
													href="/directions/rare-diseases/pompe-disease/"
													title="Болезнь Помпе"
													>Болезнь Помпе</a
												>
											</li>
											<li>
												<a
													href="/directions/rare-diseases/fabry-disease/"
													title="Болезнь Фабри"
													>Болезнь Фабри</a
												>
											</li>
										</ul>
										<div class="mobile-submenu-show-all">
											<a href="#"
												><span>Показать все</span></a
											>
										</div>
									</div>

									<div
										class="submenu-middle__wrapper mobile-hidden">
										<div class="mobile-back">
											<a class="javascript:void(0)"
												><span>Нозологии</span></a
											>
										</div>
										<div class="mobile-submenu-title">
											<a href="/direction/"
												><span
													>Материалы по всем
													Нозологиям</span
												></a
											>
										</div>
										<div class="submenu-middle__container">
											<div class="submenu-middle__column">
												<ul
													class="submenu-middle__list submenu-middle__list--mobile-border-b">
													<a
														href="/directions/zodac-main/"
														class="submenu-middle__item"
														><li>Аллергия</li></a
													>

													<a
														href="/directions/ag/"
														class="submenu-middle__item"
														><li>
															Артериальная
															гипертензия
														</li></a
													>

													<a
														href="/direction/atopic-dermatitis/main/"
														class="submenu-middle__item"
														><li>
															Атопический дерматит
														</li></a
													>

													<a
														href="/direction/psihiatriya/"
														class="submenu-middle__item"
														><li>
															Биполярное
															Аффективное
															Расстройство (БАР)
														</li></a
													>

													<a
														href="/directions/rare-diseases/pompe-disease/"
														class="submenu-middle__item"
														><li>
															Болезнь Помпе
														</li></a
													>

													<a
														href="/directions/rare-diseases/fabry-disease/"
														class="submenu-middle__item"
														><li>
															Болезнь Фабри
														</li></a
													>

													<a
														href="/directions/rare-diseases/niemann-pick/"
														class="submenu-middle__item"
														><li>
															Болезнь Ниманна-Пика
														</li></a
													>

													<a
														href="/direction/pulmonology/main/"
														class="submenu-middle__item"
														><li>
															Бронхиальная астма
														</li></a
													>

													<a
														href="/directions/vt/"
														class="submenu-middle__item"
														><li>
															Венозный тромбоз
														</li></a
													>

													<a
														href="/directions/hematology/"
														class="submenu-middle__item"
														><li>
															Гематологические
															заболевания
														</li></a
													>

													<a
														href="/directions/gh/"
														class="submenu-middle__item"
														><li>
															Гиперхолестеринемия
														</li></a
													>

													<a
														href="/directions/magne-main/"
														class="submenu-middle__item"
														><li>
															Дефицит магния
														</li></a
													>
												</ul>
											</div>
											<div class="submenu-middle__column">
												<ul
													class="submenu-middle__list submenu-middle__list--mobile-border-b">
													<a
														href="/directions/lasolvan-main/"
														class="submenu-middle__item"
														><li>Кашель</li></a
													>

													<a
														href="/directions/mucoviscidosis-main/"
														class="submenu-middle__item"
														><li>
															Муковисцидоз
														</li></a
													>

													<a
														href="/directions/rare-diseases/mucopolysaccharidosis/"
														class="submenu-middle__item"
														><li>
															Мукополисахаридоз I
															типа
														</li></a
													>

													<a
														href="/directions/hepatology/congress/"
														class="submenu-middle__item"
														><li>
															Неалкогольная
															жировая болезнь
															печени (стеатоз)
														</li></a
													>

													<a
														href="/directions/onkologiya/"
														class="submenu-middle__item"
														><li>
															Онкологические
															заболевания
														</li></a
													>

													<a
														href="/directions/oks/"
														class="submenu-middle__item"
														><li>
															Острый коронарный
															синдром
														</li></a
													>

													<a
														href="/direction/hprs/"
														class="submenu-middle__item"
														><li>
															Полипозный
															риносинусит
														</li></a
													>

													<a
														href="/direction/rasseyanyy-skleroz/"
														class="submenu-middle__item"
														><li>
															Рассеянный склероз
														</li></a
													>

													<a
														href="/directions/diabetes-main/"
														class="submenu-middle__item"
														><li>
															Сахарный диабет
														</li></a
													>

													<a
														href="/directions/epileptology-main/"
														class="submenu-middle__item"
														><li>Эпилепсия</li></a
													>

													<a
														href="/directions/covid-19/"
														class="submenu-middle__item"
														><li>COVID-19</li></a
													>
												</ul>
											</div>
											<div
												class="submenu-middle__column l-w-border">
												<ul
													class="submenu-middle__list submenu-middle__list--mobile-border-b">
													<a
														href="/directions/vaccination-main/"
														><li
															style="
																font-weight: bold;
															"
															class="submenu-middle__item">
															Вакцинопрофилактика
														</li></a
													>
													<a
														href="/directions/vaccination/flu/"
														><li
															class="submenu-middle__item">
															Грипп
														</li></a
													>
													<a
														href="/direction/vaccination/diphtheria/"
														><li
															class="submenu-middle__item">
															Дифтерия
														</li></a
													>
													<a
														href="/direction/vaccination/pertussis/"
														><li
															class="submenu-middle__item">
															Коклюш
														</li></a
													>
													<a
														href="/direction/vaccination/meningitis/"
														><li
															class="submenu-middle__item">
															Менингококковая
															инфекция
														</li></a
													>
													<a
														href="/directions/vaccination/poliomyelitis/"
														><li
															class="submenu-middle__item">
															Полиомиелит
														</li></a
													>
													<a
														href="/direction/vaccination/tetanus/"
														><li
															class="submenu-middle__item">
															Столбняк
														</li></a
													>
													<a
														href="/directions/vaccination/hib/"
														><li
															class="submenu-middle__item">
															ХИБ-инфекция
														</li></a
													>
												</ul>
											</div>
										</div>
									</div>
								</li>

								<li class="menu-middle-item view-modal">
									<a
										class="menu-middle-link"
										href="/directions/vaccination-main/">
										<span>Вакцинопрофилактика</span
										><span class="icon"></span>
									</a>
								</li>

								<li class="menu-middle-item">
									<a class="menu-middle-link" href="/events/">
										<span>Мероприятия</span
										><span class="icon"></span>
									</a>
								</li>

								<li class="menu-middle-item">
									<a class="menu-middle-link" href="/calcs/">
										<span>Инструменты</span
										><span class="icon"></span>
									</a>
								</li>

								<li class="menu-middle-item">
									<a class="menu-middle-link" href="/drugs/">
										<span>Препараты</span
										><span class="icon"></span>
									</a>
								</li>
							</ul>
							<button
								type="button"
								class="scroll-button scroll-button--middle scroll-button--right"
								data-scroll="middle-menu">
								<span class="dsi-arrow_dropdown_open"></span>
							</button>
						</div>
					</div>
				</div>
				<div class="blue-container">
					<div
						class="container container--wide blue-container-inner-wrapper">
						<div class="ds-search">
							<form
								name="search_form"
								action="/search/index.php"
								class="field field--inverted field--has-addons">
								<div
									class="field__control field__control--expanded has-icons-left has-icons-right">
									<input
										type="hidden"
										name="section"
										value="_all" />
									<input
										placeholder="Поиск"
										type="search"
										autocomplete="off"
										value=""
										name="q"
										id="search"
										required=""
										minlength="1"
										class="field__input field__input--narrow" />
									<ul id="search_list"></ul>
									<button
										class="search-button field__button button">
										<span class="search_title">Найти</span>
									</button>
									<button class="close-button" type="button">
										<i class="dsi-close"></i>
									</button>
									<span
										class="field__icon field__icon--left field__icon--close-top"
										><i class="dsi-search"></i
									></span>
								</div>
							</form>
						</div>
						<div
							class="menu-bottom-wrapper scroll-wrapper--cs-right">
							<button
								type="button"
								class="scroll-button scroll-button--bottom scroll-button--left"
								data-scroll="bottom-menu">
								<span
									class="dsi-arrow_dropdown_open-back"></span>
							</button>
							<ul
								class="scroll-wrapper menu-bottom"
								data-scroll="bottom-menu">
								<li class="menu-bottom-item">
									<a
										class="menu-bottom-link"
										href="/research/"
										><span>Исследования и статьи</span></a
									>
								</li>
								<li class="menu-bottom-item">
									<a class="menu-bottom-link" href="/news/"
										><span>Новости</span></a
									>
								</li>
								<li class="menu-bottom-item">
									<a class="menu-bottom-link" href="/comics/"
										><span>Комиксы</span></a
									>
								</li>
								<li class="menu-bottom-item">
									<a
										class="menu-bottom-link"
										href="/lectures/"
										><span>Видео</span></a
									>
								</li>
								<li class="menu-bottom-item">
									<a
										class="menu-bottom-link"
										href="/clinical/"
										><span>Клинические случаи</span></a
									>
								</li>
								<li
									class="menu-bottom-item material-bottom-menu-link">
									<a
										class="menu-bottom-link"
										href="/patients/"
										><span>Материалы для пациентов</span></a
									>
								</li>
								<li class="menu-bottom-item">
									<a
										class="menu-bottom-link"
										href="/direction/diabet/proekt-mayak-new/"
										><span>Маяк</span></a
									>
								</li>
								<li class="menu-bottom-item">
									<a
										class="menu-bottom-link"
										href="/directions/advent/"
										><span>ADVENT</span></a
									>
								</li>
							</ul>
							<button
								type="button"
								class="scroll-button scroll-button--bottom scroll-button--right"
								data-scroll="bottom-menu">
								<span class="dsi-arrow_dropdown_open"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="page__main">
			<section class="page__content">
				<block name="breadcrumbs"></block>
				<block name="contentmenu"></block>
				<block name="content"></block>
			</section>
		</div>

		<link
			href="/local/templates/mcmportal2/library/css/common.css"
			type="text/css"
			rel="stylesheet" />
		<link
			href="/local/templates/mcmportal2/library/assets/vendor/select2/select2.min.css"
			type="text/css"
			rel="stylesheet" />

		<link
			href="/bitrix/cache/css/s1/mcmportal2/template_46113d3985b806c81db87412bc34c3e4/template_46113d3985b806c81db87412bc34c3e4_v1.css?1667398195895616"
			type="text/css"
			data-template-style="true"
			rel="stylesheet" />

		<!-- <link
			href="/bitrix/js/ui/design-tokens/dist/compatibility.css?1664985013439"
			type="text/css"
			rel="stylesheet" />
		<link
			href="/bitrix/js/ui/fonts/opensans/ui.font.opensans.css?16649850132555"
			type="text/css"
			rel="stylesheet" />
		<link
			href="/bitrix/js/main/popup/dist/main.popup.bundle.css?166498512828285"
			type="text/css"
			rel="stylesheet" /> -->
		<link
			href="/bitrix/cache/css/s1/mcmportal2/page_1f243f3f364991273e8a50e372fa4cfe/page_1f243f3f364991273e8a50e372fa4cfe_v1.css?166739930016683"
			type="text/css"
			rel="stylesheet" />

		<block name="footer"></block>
		<block name="post"></block>
	</body>
</html>
