<div class="content-info">
	<div class="info-item info-item-date">20.02.2023</div>
	<div class="info-item">
		<div class="detail-header__stat-item">
			<span class="dsi-visibility_on"></span>
			<span class="info-item-text show_cntr_142720">15</span>
		</div>
	</div>
	<div class="info-item">
		<div class="detail-header__stat-item">
			<span class="dsi-clock"></span>
			<span class="info-item-text"><span>Время чтения </span>10 мин</span>
		</div>
	</div>
	<div class="info-item">
		<div class="detail-header__stat-item fav-item" data-card-id="142720">
			<button type="button" class="fav-button" title="В избранное"></button>
			<span class="info-item-text fav-num">В избранное</span>
		</div>
	</div>
</div>
