<div class="content-menu" style="">
    <div class="content-menu__top">
        <div class="container">
            <div class="swipe-nav has-scroll">
                <ul class="nav nav_main">
                    <li class="nav__item">
                        <a
                            href="/directions/diabetes-main/"
                            class="nav__link"
                            >Главная
                        </a>
                    </li>
                    <li class="nav__item nav__item_sub">
                        <a
                            href="/direction/diabet/novosti-iz-pervyh-ruk/"
                            class="nav__link"
                            >Новости из первых рук
                            <i
                                class="dsi-small_arrow_closed nav_sub-arrow"></i
                        ></a>
                        <ul
                            class="nav nav_sub"
                            style="max-width: 0px">
                            <li class="nav__item">
                                <a
                                    href="/directions/diabet/easd_news_2021/"
                                    class="nav__link"
                                    >Новости EASD 2021
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/directions/diabet/ada_news_2021/"
                                    class="nav__link"
                                    >Новости ADA 2021
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/directions/diabet/attd_news_2021/"
                                    class="nav__link"
                                    >Новости ATTD 2021
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/directions/diabet/easd_news_2020/"
                                    class="nav__link"
                                    >Новости EASD 2020
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/directions/diabet/ada_news_2020/"
                                    class="nav__link"
                                    >Новости ADA 2020
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/directions/diabet/attd_2020/"
                                    class="nav__link"
                                    >Новости ATTD 2020
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item nav__item_sub">
                        <a
                            href="/direction/diabet/specproekty/"
                            class="nav__link nav__link_active"
                            >Спецпроекты
                            <i
                                class="dsi-small_arrow_closed nav_sub-arrow"></i
                        ></a>
                        <ul
                            class="nav nav_sub"
                            style="max-width: 0px">
                            <li class="nav__item">
                                <a
                                    href="/directions/real-world-evidence/"
                                    class="nav__link"
                                    >Исследования рутинной
                                    практики
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/directions/diabet/proinsulin/"
                                    class="nav__link"
                                    >Про Инсулин
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/3d-expo/1-1"
                                    class="nav__link"
                                    >Виртуальный стенд
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/direction/diabet/soliquasolostar/"
                                    class="nav__link"
                                    >Соликва СолоСтар®
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/direction/diabet/dok-endo/"
                                    class="nav__link"
                                    >Доказательная
                                    эндокринология
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/direction/diabet/proekt-mayak-new/"
                                    class="nav__link nav__link_active"
                                    >Маяк
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/directions/diabet/ot-kaliningrada-do-vladivostoka/"
                                    class="nav__link"
                                    >От Калининграда до
                                    Владивостока
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/direction/diabet/podbor-dozy/"
                                    class="nav__link"
                                    >Оптимальная инсулинотерапия
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/direction/diabet/podbor-dozy-deti/"
                                    class="nav__link"
                                    >Дети и подростки: новые
                                    возможности инсулинотерапии
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/directions/diabet-tvoya-istoriya/"
                                    class="nav__link"
                                    >Диабет. Твоя история.
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/direction/diabet/augmented-reality/"
                                    class="nav__link"
                                    >Дополненная реальность
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/direction/diabet/specproekty/insulin-production-in-oryol/"
                                    class="nav__link"
                                    >Производство инсулинов в
                                    Орле
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item nav__item_sub">
                        <a
                            href="/direction/diabet/obuchenie-patsientov/"
                            class="nav__link"
                            >Обучающие материалы
                            <i
                                class="dsi-small_arrow_closed nav_sub-arrow"></i
                        ></a>
                        <ul
                            class="nav nav_sub"
                            style="max-width: 0px">
                            <li class="nav__item">
                                <a
                                    href="/direction/diabet/obuchenie-patsientov/goryachaya-liniya/"
                                    class="nav__link"
                                    >Горячая линия
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/direction/diabet/obuchenie-patsientov/shkoladiabetaru/"
                                    class="nav__link"
                                    >Школа диабета
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/direction/diabet/obuchenie-patsientov/materiali-dlya-patsientov/"
                                    class="nav__link"
                                    >Материалы для пациентов
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item nav__item_sub">
                        <a
                            href="/direction/diabet/diagnostika-i-lechenie/"
                            class="nav__link"
                            >Диагностика и лечение
                            <i
                                class="dsi-small_arrow_closed nav_sub-arrow"></i
                        ></a>
                        <ul
                            class="nav nav_sub"
                            style="max-width: 0px">
                            <li class="nav__item">
                                <a
                                    href="/direction/diabet/diagnostika-i-lechenie/virtualniy-patsient/"
                                    class="nav__link"
                                    >Виртуальный пациент
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/direction/diabet/diagnostika-i-lechenie/algorithms-recommendations/"
                                    class="nav__link"
                                    >Алгоритмы и рекомендации
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/direction/diabet/diagnostika-i-lechenie/expert-opinion/"
                                    class="nav__link"
                                    >Мнение экспертов
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/direction/diabet/diagnostika-i-lechenie/scientific-information/"
                                    class="nav__link"
                                    >Научная информация
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/direction/diabet/diagnostika-i-lechenie/diabetes-preparaty/"
                                    class="nav__link"
                                    >Препараты
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/direction/diabet/diagnostika-i-lechenie/epidemiology/"
                                    class="nav__link"
                                    >Эпидемиология СД
                                </a>
                            </li>
                            <li class="nav__item">
                                <a
                                    href="/direction/diabet/diagnostika-i-lechenie/calc/"
                                    class="nav__link"
                                    >Калькулятор
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a
                            href="/directions/100-years-insulin/"
                            class="nav__link"
                            >100 лет инсулину
                        </a>
                    </li>
                    <li class="nav__item">
                        <a
                            href="/directions/covid-diabet/"
                            class="nav__link"
                            >COVID-19
                        </a>
                    </li>
                </ul>
                <a
                    href="javascript:void(0);"
                    class="swipe-nav__back is-hidden"
                    ><i class="dsi-arrow_dropdown_open-back"></i
                ></a>
                <a
                    href="javascript:void(0);"
                    class="swipe-nav__next is-hidden"
                    ><i class="dsi-arrow_dropdown_open"></i
                ></a>
            </div>
        </div>
    </div>
</div>