<section class="detail-header">
	<div class="container">
		<div class="has-brand-blue-background">
			<div class="row row--gapless">
				<div class="column column--12">
					<div class="detail-header__content">
						<header class="detail-header__content-top">
							<div class="detail-header__line">
								<div class="detail-header__info">
									<a
										href="/news/"
										class="article-item__info-item"
										>{{detailHeader.typeInfo}}</a
									>
									<span class="article-item__info-item"
										>{{detailHeader.date}}</span
									>
								</div>
								<button
									type="button"
									class="fav-button"
									title="Добавить в избранное"
									data-card-id="147423"></button>
							</div>
							<h1 class="detail-header__title">
								{{{detailHeader.title}}}
							</h1>
						</header>
						<div class="detail-header__content-bottom">
							<div
								class="tag-list cropped-tags tag-list--inverted"></div>
							<div class="detail-header__stat">
								<div class="detail-header__stat-item">
									<span class="dsi-visibility_on"></span>
									<span
										class="detail-header__stat-text"
										id="show_cntr_147423"
										>2</span
									>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="progress-view" class="" style="">
	<div class="container">
		<div class="progress">
			<div class="progress-bar" style="width: 20.9818%"></div>
		</div>
	</div>
</section>
