@font-face {
    font-family: "Icon";
    src: url(https://docsfera.ru/local/templates/mcmportal2/library/assets/fonts/Icons/icon.eot);
    src: url(https://docsfera.ru/local/templates/mcmportal2/library/assets/fonts/Icons/icon.eot?#iefix) format("embedded-opentype"),
        url(https://docsfera.ru/local/templates/mcmportal2/library/assets/fonts/Icons/icon.woff) format("woff"), url(../assets/fonts/Icons/icon.ttf) format("truetype"),
        url(https://docsfera.ru/local/templates/mcmportal2/library/assets/fonts/Icons/icon.svg#icon) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}