.card-pl {
  border: 1px solid #B2B2B2;

  &__preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 224px;

    .card-pl-button {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__btn {
        height: 60px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #3A77BC;
        font-weight: 400;
        font-size: 19px;
        line-height: 20px;
        color: #FFFFFF;
        border-radius: 10px;

        &--watched {
          height: 40px;
          background-color: #3BB239;
        }
      }
    }

    .card-pl-overlay {
      min-width: 160px;
      height: 100%;
      background-color: rgba(#000000, 0.7);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__count {
        font-size: 26px;
        line-height: 36px;
        font-weight: 700;
        color: #FFFFFF;
      }
    }
  }

  &-info {
    .card-info-headind {
      .card-info__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
      }

      .card-info__descr {
        font-weight: 350;
        font-size: 18px;
        line-height: 24px;
      }
    }

    .card-info-footer {
      gap: 20px;

      .card-info-tags {
        &__tag {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
        }
      }

      .card-info__row {
        .card-info__btn.card-info__btn--favourites {
          >span {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    &__preview {
      .card-pl-button {
        &__btn {
          width: 90%;
        }
      }
    }
  }
}