.s-filter {
  &--hidden {
    width: 332px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    transform: translateY(105%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    visibility: hidden;
    background-color: #FFFFFF;
    z-index: 5;
    box-shadow: 0px 3px 10px rgba(#000000, 0.15);
    gap: 20px;
    opacity: 0;
    transition: all 0.3s ease;

    @media screen and (min-wdith: 1024px) {
      right: 0;
    }

    @media screen and (max-width: 1024px) {
      left: 50%;
      transform: translateX(-50%) translateY(102%);
    }
  }

  &--only-sort {
    display: none;
  }

  &--only-filter {
    display: none;
  }

  &--only-phone {
    display: none;
  }

  &-group {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__title {
    margin: 0 0 25px 0;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
  }

  &-sort {
    .sort-group {
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &__input {
        display: none;

        &:checked+ {
          .sort-group__label {
            &::before {
              background: url('./images/radio-checked.png') no-repeat center center;
              background-size: 100% 100%;
            }
          }
        }
      }

      &__label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 30px;
        margin-right: 0;
        line-height: 18px;

        &::before {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: url('./images/radio-not-checked.png') no-repeat center center;
          background-size: 100% 100%;
        }
      }
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .filter-group {
      position: relative;

      &__title {
        margin: 0;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
      }

      &-heading {
        width: 100%;
        height: auto;
        min-height: 52px;
        padding: 10px 9px 10px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid #000000;

        .filter-left {
          >span {
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
            color: #000000;
          }

          .tags-list {
            display: none;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 15px;

            &__item {
              padding: 5px 8px;
              display: flex;
              align-items: center;
              gap: 5px;
              background-color: #F0F0F5;

              >span {
                text-transform: uppercase;
                font-size: 14px;
                line-height: 20px;
                font-weight: 800;
                color: #000000;
              }

              >button {
                padding: 0;
                height: 24px;
                width: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
              }
            }

            &--visible {
              display: flex;
            }
          }
        }

        .filter-right {
          display: flex;
          gap: 12px;

          &__btn {
            height: 24px;
            width: 24px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            &:focus {
              outline: none;
              border: none;
            }

            &[data-role="switch-dropdown"] {
              >svg {
                transform-origin: center center;
                transform: rotate(0deg);
                transition: 0.3s ease;
              }
            }

            &[data-role="delete-tags"] {
              display: none;

              &.btn-delete-tags--visible {
                display: inline-flex;
              }
            }
          }
        }

        .dropdown-list {
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translateY(100%);
          background-color: #FFFFFF;
          z-index: 5;
          width: 100%;
          max-height: 240px;
          overflow-y: scroll;
          box-shadow: 0 8px 16px -8px rgb(0 0 0 / 25%);
          scrollbar-width: thin;
          scrollbar-color: #000000 transparent;
          display: none;

          &::-webkit-scrollbar {
            width: 5px;
          }

          &::-webkit-scrollbar-track {
            background: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #000000;
            border: 3px solid transparent;
          }

          &__item {
            height: auto;
            min-height: 48px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 10;
            padding: 12px 16px;
            font-size: 18px;
            line-height: 24px;
            color: #000000;

            &:hover {
              background-color: #0158BB;
              color: #FFFFFF;
              cursor: pointer;
            }
          }

          &--visible {
            display: block;
          }
        }

        &:hover {
          cursor: pointer;
        }

        &:focus {
          border: 2px solid #0158BB;
        }
      }

      &.is-on {
        .filter-group-heading {
          border: 2px solid #0158BB;

          .filter-right {
            .filter-right__btn {
              &[data-role="switch-dropdown"] {
                >svg {
                  transform: rotate(180deg);
                  transition: 0.3s ease;
                }
              }
            }
          }
        }
      }
    }
  }

  &.is-on {
    &.s-filter--hidden {
      bottom: 0;
      visibility: visible;
      opacity: 1;
      transition: all 0.3s ease;
    }

    &.s-filter--only-sort {
      display: flex;
    }

    &.s-filter--only-filter {
      display: flex;
    }

    &.s-filter--only-phone {
      display: flex;
    }
  }
}