.row {
  &.row--playlist {
    .ds-pagination.column--12 {
      display: none;
    }

    .column.column--narrow {
      &:nth-child(n + 9) {
        display: none;
      }
    }

    @media screen and (max-width: 768px) {
      .ds-pagination.column--12 {
        display: block;
      }

      .column.column--narrow {
        &:nth-child(n + 4) {
          display: none;
        }
      }
    }
  }
}