.pagination {
  width: 100%;
  margin: 0;
  padding: 0;

  &__wrapper {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;

    &__item {
      display: block;
      margin: 0;
      padding: 0;
      height: 35px;
      width: 40px;
      float: left;

      &:first-child {
        margin-right: 15px;
      }

      &:last-child {
        margin-left: 15px;
      }
    }

    &__link {
      border: none;
      border-radius: 0;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #000000;
      padding: 5px 0;
      width: 35px;
      height: 35px;
      display: block;

      &--left,
      &--right {
        border-radius: 50%;
        border: 1px solid #000000;

        >svg {
          width: 14px;

          path {
            fill: #000000;
          }
        }
      }

      &--left {
        background: url('') center center no-repeat;
      }

      &--right {
        background: url('') center center no-repeat;
      }

      &--current {
        color: $COLOR_ACCENT;
      }

      &--disabled {
        opacity: .3;
      }
    }
  }
}