<div class="video">
  <a class="learn_more" href="#" target="_blank">Узнать больше</a>
  <div id="player" data-id="{{video}}" data-next-video="{{nextVideo}}"></div>
</div>
<div id="timer"></div>
<div class="lecturer">
  <h4 class="lecturer__name">Гриценко Ирина Юрьевна</h4>
  <p class="ds-title__desc lecturer__desc">Практикующий специалист в области медицинского права и урегулирования споров по качеству оказания медицинских услуг.</p>
  <div class="lecturer-playlist lecturer__playlist lecturer-accordion">
    <h5 class="lecturer-playlist__title">Описание плейлиста</h5>
    <p class="lecturer-playlist__text" style="height: 80px;">
      Тут будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка
      видео
      Тут будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка
      видео
      Тут будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка
      видеоТут
      будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут
      будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут
      будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка видеоТут будет расшифровка видео
      Тут будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка
      видео
      Тут будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка
      видео
      Тут будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка
      видеоТут
      будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут
      будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут
      будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка видеоТут будет расшифровка видео
    </p>
    <div class="lecturer-accordion__controls lecturer-accordion__controls--center">
      <button type="button" class="lecturer-accordion__btn lecturer-accordion__btn--show">
        Развернуть
        <i class="dsi-small_arrow_closed"></i>
      </button>
      <button type="button" class="lecturer-accordion__btn lecturer-accordion__btn--hide">
        Свернуть
        <i class="dsi-small_arrow_opened"></i>
      </button>
    </div>
  </div>
</div>
<include locals='{"footerLinks": {{footerLinks}}}' src="../layouts/components/footer-links.html"></include>
<div class="playlist playlist__block">
  <div class="playlist-header playlist-header--sm">
    <img src="assets/images/playlist-header.jpg" alt="Изображение плейлиста" class="playlist-header__bg">
    <div class="playlist-header-info">
      <span class="playlist-header-info__topic">Лекторий (лекционный плейлист)</span>
      <h4 class="playlist-header-info__title">Если нужен оригинальный препарат</h4>
    </div>
    <div class="playlist-header-count">
      <span class="playlist-header-count__number">6</span>
      <span class="playlist-header-count__text">Видео</span>
    </div>
  </div>
  <div class="playlist__wrapper playlist__wrapper--one-column playlist__wrapper--scroll">
    <include locale='{ "cardsVideo": {{cardsVideo}} }' src="mayak/partials/components/card-video-small.html">
    </include>
  </div>
</div>