<div class="video">
    <div class="background_video">
        <img src="/mayak/assets/images/video_plug.png" alt="">
    </div>
    <div class="play" id="play">
        <img src="/mayak/assets/images/play.svg" alt="">
    </div>
    <a class="learn_more">Узнать больше</a>
    <video id="video" video playsinline webkit-playinginline>
        <source src="" type='video/mp4'>
    </video>
</div>
<div class="lecturer">
    <h4 class="lecturer__name">Гриценко Ирина Юрьевна</h4>
    <p class="ds-title__desc lecturer__desc">Практикующий специалист в области медицинского права и урегулирования
        споров по качеству оказания медицинских услуг.</p>
    <div class="lecturer-playlist lecturer__playlist lecturer-accordion">
        <h5 class="lecturer-playlist__title">Описание плейлиста</h5>
        <p class="lecturer-playlist__text" style="height: 80px;">
            Тут будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка
            видео
            Тут будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка
            видео
            Тут будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка
            видеоТут
            будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут
            будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут
            будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка видеоТут будет расшифровка видео
            Тут будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка
            видео
            Тут будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка
            видео
            Тут будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка
            видеоТут
            будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут
            будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут будет расшифровка видеоТут
            будет расшифровка видео Тут будет расшифровка видео Тут будет расшифровка видеоТут будет расшифровка видео
        </p>
        <div class="lecturer-accordion__controls lecturer-accordion__controls--center">
            <button type="button" class="lecturer-accordion__btn lecturer-accordion__btn--show">
                Развернуть
                <i class="dsi-small_arrow_closed"></i>
            </button>
            <button type="button" class="lecturer-accordion__btn lecturer-accordion__btn--hide">
                Свернуть
                <i class="dsi-small_arrow_opened"></i>
            </button>
        </div>
    </div>
</div>