<h2>Результаты поиска</h2>
<include src="mayak/partials/components/search-card.html"></include>
<include src="mayak/partials/components/search-card.html"></include>
<include src="mayak/partials/components/search-card.html"></include>
<div class="ds-pagination column--12" data-target="#content-15">
  <div class="pagination">
    <div class="pagination__wrapper">
      <ul class="pagination-list">
        <li class="pagination-list__item pagination-list__item--prev">
          <a href="#" class="pagination-list__link pagination-list__link--left pagination-list__link--disabled">
            <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M5.32549 11.7614L0.234316 6.57614C-0.078104 6.25795 -0.078104 5.74206 0.234316 5.42386L5.32549 0.238644C5.6379 -0.0795469 6.14444 -0.0795469 6.45686 0.238644C6.76927 0.556834 6.76927 1.07272 6.45686 1.39091L2.73137 5.18522L20 5.18522V6.81478L2.73137 6.81478L6.45686 10.6091C6.76927 10.9273 6.76927 11.4432 6.45686 11.7614C6.14444 12.0795 5.6379 12.0795 5.32549 11.7614Z"
                fill="#B2B2B2" />
            </svg>
          </a>
        </li>
        <li class="pagination-list__item">
          <a href="#" class="pagination-list__link pagination-list__link--current">1</a>
        </li>
        <li class="pagination-list__item">
          <a href="#" class="pagination-list__link">2</a>
        </li>
        <li class="pagination-list__item">
          <a href="#" class="pagination-list__link pagination-list__link--disabled">3</a>
        </li>
        <li class="pagination-list__item">
          <a href="#" class="pagination-list__link pagination-list__link--disabled">4</a>
        </li>
        <li class="pagination-list__item pagination-list__item--next">
          <a href="#" class="pagination-list__link pagination-list__link--right">
            <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M14.6745 0.238646L19.7657 5.42387C20.0781 5.74206 20.0781 6.25795 19.7657 6.57614L14.6745 11.7614C14.3621 12.0795 13.8556 12.0795 13.5431 11.7614C13.2307 11.4432 13.2307 10.9273 13.5431 10.6091L17.2686 6.81478L-1.19153e-06 6.81478L-9.06613e-07 5.18522L17.2686 5.18522L13.5431 1.39092C13.2307 1.07273 13.2307 0.556837 13.5431 0.238646C13.8556 -0.0795453 14.3621 -0.0795453 14.6745 0.238646Z"
                fill="black" />
            </svg>
          </a>
        </li>
      </ul>
      <a href="/research/?PAGEN_1=2&amp;paging=y" class="button button--outlined" id="infinity-next-page">Показать
        ещё</a>
    </div>
  </div>
</div>