.card {
  height: 450px;
  min-height: 450px;

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &-preview {
    width: 100%;
    height: 177px;
    flex-shrink: 0;
    background-color: #BDBDBD;
  }

  &-info {
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-heading,
    &-footer {
      display: flex;
      flex-direction: column;
    }

    &__title {
      margin: 0;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
    }

    &__descr {
      margin: 15px 0 0 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
    }

    &-tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 15px;

      &__tag {
        margin: 0;
        text-decoration: underline;
        color: #0158BB;
      }
    }

    &__row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    &-date {
      &__day {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #707075;
      }
    }

    &-views {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;

      &__count {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 10px;
        color: #707075;
      }
    }

    &__btn {
      padding: 0;
      display: flex;
      align-items: center;
      gap: 8px;

      &--favorites {
        >span {
          margin: 0;
          font-weight: 400;
          font-size: 14px;
          line-height: 10px;
          color: #707075;
        }
      }

      &--watch {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #000000;
      }
    }
  }

  @media screen and (max-width: 768px) {
    &-info {
      gap: 35px;
    }
  }

  @media screen and (max-width: 576px) {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .card-lector-column {
    width: 100% !important;
  }
}