// Общий класс для лекторов, карточек с видео и плейлистов. Желательно вынести в общие стили
.card {
  margin: 0 !important;
  height: 450px;
  min-height: 450px;
  border: 1px solid #B2B2B2;

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &-preview {
    width: 100%;
    height: 177px;
    flex-shrink: 0;
    background-color: #BDBDBD;
  }

  &-info {
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;

    &-heading,
    &-footer {
      display: flex;
      flex-direction: column;
    }

    &__title {
      margin: 0;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
    }

    &__descr {
      margin: 15px 0 0 0;
      font-weight: 350;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
    }

    &-footer {
      gap: 20px;
    }

    &-tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 16px;

      &__tag {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        text-decoration: underline;
        color: #0158BB;
      }
    }

    &__row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      line-height: 24px;
    }

    &-date {
      &__day {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #707075;
      }
    }

    &-views {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;

      &__count {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 10px;
        color: #707075;
      }
    }

    &__btn {
      padding: 0;
      display: flex;
      align-items: center;
      gap: 8px;

      &--favourites {
        span {
          margin: 0;
          font-weight: 400;
          font-size: 14px;
          line-height: 10px;
          color: #707075;
        }
      }

      &--in-favourites {
        svg {
          path {
            fill: #0158BB;
          }
        }

        span {
          font-weight: 700;
          color: #0158BB;
        }
      }

      &--watch {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #000000;
      }
    }
  }

  @media screen and (max-width: 768px) {
    &-info {
      gap: 35px;
    }
  }

  @media screen and (max-width: 576px) {
    width: 100%;
  }
}

// Общие стили для страниц
.column {
  padding: 12px !important;

  h2 {
    margin: 0 !important;
  }
}

.ds-filter__wrapper {
  margin: 40px 0 20px 0 !important;
  background-color: #FFFFFF !important;

  @media screen and (max-width: 768px) {
    .filter-mayak {
      flex-direction: row;

      h2 {
        flex-basis: 50%;
        margin: 0 !important
      }

      .filter-mayak-group {
        flex-basis: 50%;
        justify-content: flex-end;
      }
    }
  }

  @media screen and (max-width: 576px) {
    .filter-mayak {
      flex-direction: column;

      h2,
      .filter-mayak-group {
        flex-basis: 100%;
      }

      h2 {
        text-align: center;
      }
    }
  }
}

.ds-footer {
  margin-top: 60px !important;
}

// Стили для конкретных страниц
#index {
  .container.container--card {
    .row {
      &.row--card-playlist {
        .ds-pagination {
          display: none;
        }
      }

      &.row--card-video {
        .ds-pagination {
          display: block;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .row {
        &.row--card-playlist {
          .column.column--narrow {
            &:nth-child(n + 4) {
              display: none;
            }
          }

          .ds-pagination {
            display: block;
          }
        }

        &.row--card-video {
          .column.column--narrow {
            &:nth-child(n + 3) {
              display: none;
            }
          }
        }
      }
    }
  }
}

#index-playlist {
  .detail-body__aside-bottom {
    margin: 45px 0 0 0 !important;

    .share-block.is-animate {
      padding: 0 !important;
    }
  }

  .row {
    &.row--card-playlist {
      .ds-pagination {
        &.ds-pagination--playlist {
          display: none;
        }
      }
    }

    @media screen and (max-width: 768px) {
      &.row--card-playlist {
        .ds-pagination {
          display: none;

          &.ds-pagination--playlist {
            display: block;
          }
        }
      }
    }
  }
}

#index-search {
  .column.column--12-small.column--8-tablet.content {
    h2 {
      margin: 0 0 8px 0 !important;
    }

    @media screen and (max-width: 576px) {
      h2 {
        margin: 0 !important;
      }
    }
  }

  .new__content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .ds-pagination {
      margin-top: 8px !important;
    }
  }

}

.index-card {
  .column.column--12-small {
    &.content {
      .new__content {
        .identifier {
          display: none;
        }

        .playlist.playlist__block {
          display: none;
        }
      }
    }

    &.playlist {
      .playlist.playlist__block {
        margin-top: 56px;
      }
    }

    @media screen and (max-width: 1024px) {
      &.content {
        .new__content {
          .playlist.playlist__block {
            display: block;
            margin-top: 56px;
          }
        }
      }

      &.playlist {
        display: none;
      }
    }
  }

  .column.column--12.has-text-align-center.js-infinity-pager-wrap {
    padding-bottom: 0 !important;
  }
}